<ion-header >
  <ion-toolbar>
    <ion-icon routerLink="/home" color="warning" size="large" slot="start" name="arrow-back-outline"></ion-icon>
    <ion-title >
    Recupera tu cuenta
    </ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/logo.jpg">
    <p class="center">Podemos ayudarle a restablecer su contraseña , siga las instrucciones siguientes.</p>
    <ion-item>
      <ion-label color ="warning" position="floating">Nombre de usuario</ion-label>
      <ion-input  type="text" ></ion-input>
    </ion-item>
    <ion-button routerLink="/home" color="warning" expand="block">R E C U P E R A R</ion-button>
  </ion-card>
</ion-content>
