<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Duoc Car
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-title>
        <ion-label>
          <h1>Acceder</h1>
        </ion-label>
      </ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-label color ="warning" position="floating">Nombre</ion-label>
        <ion-input  type="text" [(ngModel)]="acces" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color ="warning" position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button routerLink="/inicio" color="warning" expand="block" (click)="saludar()">INGRESAR</ion-button>  
  </ion-card>
  <ion-chip color="danger">
    <ion-label routerLink="/reset-pass">¿Haz olvidado tu contraseña?</ion-label>
  </ion-chip>
  
   
  </div>
  <ion-card>
    <img src="assets/img/logo.jpg">
  </ion-card>
</ion-content>